.footer {
    background-color: #000000;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
  }
  
  .social-media {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }
  
  .social-icon {
    color: #cb9865;
    font-size: 1.5rem;
    transition: color 0.3s;
  }
  
  .social-icon:hover {
    color: #f6f6cb;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .social-media {
      gap: 1rem;
    }
  }
  